body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #e3f2fd, #bbdefb); 
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
    background-image: url('{{ url_for('static', filename='assets/images/' + background_image) }}');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
}




.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
    z-index: 10;
}

.logo:hover {
    transform: scale(1.1);
}

.dark-mode .logo {
    filter: brightness(0.8);
}

h1 {
    font-size: 6rem;
    margin-bottom: 70px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.timer {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    margin: 20px 0;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: transparent; 
    box-shadow: none;
    color: #ffffff; 
    transition: color 0.3s ease;
}

.timer:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.01);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}



.button {
    border: 2px solid transparent;
    background: transparent;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #1e88e5;
    transform: scale(1.05);
}
.button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(30, 136, 229, 0.5);
}
.button:active {
    background-color: #1565c0;
    transform: scale(0.95);
}

.button.start {
    background-color: transparent;
    border: white 2px solid;
}

.button.start:hover {
    background-color: #ffffff;
    transform: scale(1.15);
    color: black;
}

.button.pause {
    background-color: transparent;
    border: white 2px solid;
}

.button.pause:hover {
    background-color: #ffffff;
    transform: scale(1.15);
    color: black;
}

.button.reset {
    background-color: transparent;
    border: white 2px solid;
}

.button.reset:hover {
    background-color: #ffffff;
    transform: scale(1.15);
    color: black;
}

.button:active {
    transform: scale(0.95);
}


.focusflow {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 5rem; 
    color: #fff; 
    font-weight: bold;
    z-index: 1000; 
    font-family: 'Nanum Pen Script', cursive;
}




.settings a {
    color: #1e88e5;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.settings a:hover {
    color: #1565c0;
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 1rem;
    color: #fff; 
    text-align: center;
    z-index: 1000;
}


@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }

    .timer {
        font-size: 3rem;
    }

    .button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .progress-bar {
        width: 90%;
    }
}

/******************************
 * Global Settings Page Styles
 ******************************/


.settings-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
}

.settings-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1565c0;
}

.settings-container .form-group {
    margin-bottom: 15px;
}

.settings-container .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.settings-container .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.settings-container .form-actions {
    text-align: center;
    margin-top: 20px;
}

.settings-container .form-actions button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #1e88e5;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.settings-container .form-actions button:hover {
    background-color: #1565c0;
    transform: scale(1.05);
}

.settings-container .form-actions button:active {
    transform: scale(0.95);
}

.settings-container .back-link {
    text-align: center;
    margin-top: 15px;
}

.settings-container .back-link a {
    text-decoration: none;
    color: #1e88e5;
    font-weight: bold;
    transition: color 0.3s;
}

.settings-container .back-link a:hover {
    color: #1565c0;
}


.theme-toggle {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
}

#theme-button {
    font-size: 24px;
    background: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}



.play-pause-button {
    background-color: transparent;
    border: 2px solid #fff; 
    border-radius: 50%;  
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    outline: none;
}


.play-pause-button:hover {
    width: 55px;
    height: 55px;
}


.play-pause-button i {
    display: none;
}

.play-pause-button #play-icon {
    display: block;
}

.play-pause-button #pause-icon {
    display: none;
}

.play-pause-button.playing #play-icon {
    display: none; 
}

.play-pause-button.playing #pause-icon {
    display: block;  
}

.music-control-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#play-pause {
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}

#play-pause:hover {
    background-color: rgba(255, 255, 255, 0.2);

#music-indicator {
    color: white;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}

.dark-mode-control-container {
    position: fixed;
    bottom: 20px;
    right: 20px;  
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.dark-mode-toggle {
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.dark-mode-toggle:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#dark-mode-indicator {
    color: white;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}






.custom-dropdown {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
}

.custom-dropdown:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(72, 209, 204, 0.8); 
}

label {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
    display: block;
}

.form-group {
    margin-bottom: 20px;
}

.button.save {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button.save:hover {
    background-color: #45a049;
}

.settings-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 30px auto;
}

.back-link a {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: #4CAF50;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}



.custom-dropdown {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    appearance: none;  
    -webkit-appearance: none; 
    -moz-appearance: none;
}

.custom-dropdown:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(72, 209, 204, 0.8); t */
}

label {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
    display: block;
}

.form-group {
    margin-bottom: 20px;
}

.button.save {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button.save:hover {
    background-color: #45a049;
}

.settings-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 30px auto;
}

.back-link a {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: #4CAF50;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}


.nanum-pen-script-regular {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.top-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#time-display {
    color: inherit; /* Ensure no hardcoded color is overriding the dynamic color */
}
